$yellow-color: #ffee00;

$white-color: #ffffff;
$natural-color: #f1f2f3;

$black-color: #000000;

$metal-color: #313841;
$charooal-color: #262d35;
$oil-color: #363f48;
$coal-color: #303940;
$gray-border-color: #D9DADB;


$state-gray-color: #495565;
$dark-gray-color: #6D7684;
$gray-color: #acb1b8;
$light-gray-color: #e2e2e2;
$silver-color: #b3b3b1;
$monsoon-color: #22262b;

$blue-color: #3ea5ce;
$fiolet-color: #6b5da0;
