$yellow-color: #ffee00;

$white-color: #ffffff;

$black-color: #000000;
$dark-color-1: #313841;
$dark-color-2: #262d35;
$dark-color-3: #363f48;
$dark-color-4: #303940;


$gray-color-1: #495565;
$gray-color-2: #b3b3b1;
$gray-color-3: #f1f2f3;
$gray-color-4: #55606e;

$blue-color-1: #3ea5ce;
