.about_responsive {
  h2 {
    margin-top: 48px;
  }
}

.about_responsive_p {
  padding: 15px 0 35px;
}

.about_responsive__discription {
  width: 288px;
  margin-left: 64px;
}

h3 {
  font-size: 21px;
  padding-bottom: 10px;
}

.about_responsive__discription__main-text {
  margin-bottom: 15px;
}

.about_responsive__main-img {
  width: 100%;
  height: auto;
}
