.blog {

}

.blog_discription_content {
  h2 {
    font-size: 48px;
  }
  p {
    font-size: 18px;
  }
}
.blog_discription {
  width: 64%;
  height: 100%;
  background: $natural-color;
}

.blog__notes-list {
  width: 633px;
}

.blog_img {
  width: 288px;
  height: 216px;
  background-size: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.blog_img_1 {
  background: url(../../public/img/blog_1.png) no-repeat;
}
.blog_img_2 {
  background: url(../../public/img/blog_2.png) no-repeat;
}

.blog__notes-list__note-discription {
  width: 288px;
  padding: 16px 18px 23px 20px;
  box-sizing: border-box;
  background: $white-color;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  h2 {
    margin: 15px 0 20px;
  }
}

.blog__notes-list__note_comment-by {
  margin-top: 20px;
}

.blog_nav {
  background: $state-gray-color;
  width: 36%;
  height: 100%;
  padding: 64px 0 0 27px;
}

.blog_discription {
  @include display_flex(column, normal, flex-end);
  padding: 54px 58px 0 0;
}

.blog_discription_content {
  width: 633px;
}

.blog_discription_p {
  padding: 15px 0 39px;
} 

.blog__pagination_prev-page {
  width: 96px;
  height: 32px;
  background: $light-gray-color;
  margin-right: 8px;
  border-radius: 5px;
  color: $gray-color;
  &:hover {
    background: $yellow-color;
  }
}

.post_slider__prev_post, .post_slider__next_post, .blog__pagination_prev-page, .blog__pagination_next-page {
  cursor: pointer;
}

.blog__pagination_next-page {
  width: 61px;
  height: 32px;
  background: $white-color;
  border-radius: 5px;
  &:hover {
    background: $yellow-color;
  }
}

.blog__pagination {
  padding: 24px 0;
  width: 633px;
}

.blog__pagination_ul li {
  width: 26px;
  height: 32px;
  @include display_flex(row, center, center);
  background: $white-color;
  border-radius: 5px;
  margin-right: 8px;
  cursor: pointer;
  &:hover {
    background: $yellow-color;
  }
}

.blog__nav_choice-category_text {
  font-size: 21px;
  font-weight: bold;
  color: $white-color;
  margin-right: 23px;
}

.blog__nav_choice-category_icon {
  width: 33px;
  height: 33px;
  background: $metal-color;
  border-radius: 50px;
}


.blog__nav_choice-param {
  margin-top: 45px;
  font-size: 18px;
  font-weight: bold;
  color: $white-color;
  margin-bottom: 107px;
  width: 260px;
  li {
    padding: 10px 0 10px 25px;
    border-bottom: 1px solid silver;
    &:hover {
      cursor: pointer;
      color: $yellow-color;
    }
  }
}

.blog__nav_choice-param .blog__nav_choice-param__last-child {
  border-bottom: none;
}

.blog__nav_input {
  width: 200px;
  height: 35px;
  color: $silver-color;
  border-radius: 3px;
  padding-left: 13px;
  border: none;
  box-sizing: border-box;
  margin-bottom: 43px;
}