body {
  font-size: 14px;
  font-family: 'Arial';
}
.container {
  width: 960px;
  height: 100%;
  margin: auto;
}

h2, h3 {
  color: $oil-color;
  font-weight: bold;
}

.block-title_h2 {
  font-size: 36px;
  font-weight: bold;
  color: $oil-color;
  margin: auto;
  text-align: center;
}

.block-title_p {
  font-size: 16px;
  color: $monsoon-color;
  text-align: center;
  line-height: 2.25;
}

.bold {
  font-weight: bold;
}

.blue_color {
  color: $blue-color;
}

.yellow-color {
  color: $yellow-color;
}

a {
  text-decoration: none;
  color: $white-color;
}

.flex_row_between_center {
  @include display_flex(row, space-between, center);
}

.flex_row_center_center {
  @include display_flex(row, center, center);
}

.flex_row_center_normal {
  @include display_flex(row, center, normal);
}

.flex_row_normal_center {
  @include display_flex(row, normal, center);
}

.flex_column_between_center {
  @include display_flex(column, space-between, center);
}

.flex_column_center_center {
  @include display_flex(column, center, center);
}

.flex_column_between_normal {
  @include display_flex(column, space-between, normal);
}

.style_height_100_percent {
  height: 100%;
}

.btn_download {
  width: 112px;
  height: 36px;
  background-color: $yellow-color;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 25px;
  color: $coal-color;
  &::after {
    content: url(../../public/img/arrow-down.svg);
    width: 20px;
    height: 20px;
    @include display_flex(column, center, center);
  }
}

.btn_read_more {
  width: 112px;
  height: 36px;
  background-color: $yellow-color;
  font-size: 14px;
  font-weight: bold;
  color: $coal-color;
  border-radius: 5px;
  margin-top: 20px;
}