body {
  font-size: 14px;
  font-family: 'Arial';
}
.container {
  width: 960px;
  height: 100%;
  margin: auto;
}

h2, h3 {
  color: $oil_color;
  font-weight: bold;
}

.h2_common_style {
  font-size: 36px;
  font-weight: bold;
  color: $oil_color;
  margin: auto;
  text-align: center; 
}
.p_margin_bot_48 {
  width: 874px;
  font-size: 16px;
  color: #55606e;
  text-align: center; 
  margin: auto;
}
.bold {
  font-weight: bold;
}

.blue_color {
  color: $blue-color;
}

a {
  text-decoration: none;
  color: $white-color;
}

.flex_row_between_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_row_center_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_column_between_center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex_column_center_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_column_between_normal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
}

.style_height_100_percent {
  height: 100%;
}