.container {
  width: 960px;
  height: 100%;
  margin: auto;
}

.h2_style_1 {
  font-size: 36px;
  font-weight: bold;
  color: $dark-color-3;
  margin: auto;
  text-align: center; 
}
.p_style_1 {
  width: 874px;
  font-size: 16px;
  color: #55606e;
  text-align: center; 
  margin: auto;
}
.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
}