.contacts-info {
  padding-top: 54px;
  h3 {
    margin: 54px auto 15px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
  h4 {
    font-size: 21px;
  }
}

.contacts-info__discription {
  margin: 0 auto 54px;
}

.contacts-info__address {
  position: relative;
  font-weight: bold;
}

.contacts-info__requisites {
  height: 85px;
  margin-bottom: 60px;
}

.contacts-info__address, .contacts-info__other, .contacts-info__social {
  height: 100%;
}

.span_oil-color {
  color: $oil-color;
  font-weight: bold;
  font-size: 21px;
}

.contacts-info__email-style {
  color: $blue-color;
  font-size: 18px;
}

.map {
  iframe {
    width: 100%;
  }
}

.contacts-info__menu {
  width: 36px;
	height: 32px;
	background: $yellow-color;
	border-radius: 5px;
	margin-right: 10px;
	img {
		width: 18px;
		height: 18px;
	}
}

.contacts-info__address::before {
  content: url(../../public/img/small_hamburger.png);
  width: 36px;
	height: 32px;
  background: $yellow-color;	
  border-radius: 5px;
  position: absolute;
  left: -50px;
  @include display_flex(row, center, center);
}

.contacts-info__address:hover:before {
  cursor: pointer;
}

.contacts-info__address::after {
  width: 1px;
	height: 62px;
  background: $oil-color;
  position: absolute;
  content: '';
  right: -75px;
  top: 15px;
}

.contacts-info__other::after {
  width: 1px;
	height: 62px;
  background: $oil-color;
  position: absolute;
  content: '';
  right: -75px;
  top: 15px;
}

.contacts-info__other {
  position: relative;
}
