.formats {
  height: 376px;
  background: $natural_color;

  &_block-with-img {
    width: 258px;
  }

  img {
    margin-bottom: 29px;
  }

  h3 {
    color: $oil_color;
    width: 193px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
  }
  
  p {
    font-size: 14px;
    color: $oil_color;
    width: 193px;
    text-align: center;
  }
}