.formats {
  padding: 46px 0 60px 0;
  background: $natural-color;

  &_block-with-img {
    width: 258px;
  }

  img {
    margin-bottom: 29px;
  }

  h3 {
    width: 193px;
    text-align: center;
    font-size: 21px;
  }
  
  p {
    font-size: 14px;
    color: $oil-color;
    width: 193px;
    text-align: center;
  }
}