.portfolio {
  padding: 54px 0 59px;
  background: $natural-color;
  position: relative;
}

.portfolio_discription-text {
  padding: 15px 0 48px;
}

.portfolio__container {
  &::after {
    content: url(../../public/img/arrow-right.svg); 
    width: 64px;
    height: 65px;
    background: $silver-color;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 5%;
    @include display_flex(column, center, center);
  }
  &::before {
    content: url(../../public/img/arrow-left.svg); 
    width: 64px;
    height: 65px;
    background: $silver-color;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5%;
    @include display_flex(column, center, center);
  }
}

.portfolio__examples {
  text-align: center;
  h3 {
    font-size: 21px;
    margin-bottom: 5px;
  }
}

.portfolio_img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 28px;
}

.portfolio_1 {
  background: url(../../public/img/portfolio_1.png) no-repeat;
}
.portfolio_2 {
  background: url(../../public/img/portfolio_2.png) no-repeat;
}
.portfolio_3 {
  background: url(../../public/img/portfolio_3.png) no-repeat;
}
.portfolio_4 {
  background: url(../../public/img/portfolio_3.png) no-repeat;
}