.portfolio {
  padding-top: 54px;
  background: $natural_color;
  height: 470px;
}

.portfolio_discription-text {
  margin-bottom: 48px;
}

.portfolio__examples {
  text-align: center;

  img {
    width: 200px;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 28px;
  }
  h3 {
    font-size: 21px;
    font-weight: bold;
    color: $oil_color;
    margin-bottom: 5px;
  }
}