.presentation {
  padding-top: 63px;
  background: url(../../public/img/bg.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.presentation__container {
  &::after {
    content: url(../../public/img/arrow-right.svg); 
    width: 64px;
    height: 65px;
    background: $state-gray-color;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 5%;
    @include display_flex(column, center, center);
  }
  &::before {
    content: url(../../public/img/arrow-left.svg); 
    width: 64px;
    height: 65px;
    background: $state-gray-color;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 5%;
    @include display_flex(column, center, center);
  }
}

.presentation__text-with-quotes {
  &:before {
    content: open-quote;
  }
  &::after {
    content: close-quote;
  }

}

.presentation__text {
  text-align: center;

  h1 {
    font-size: 60px;
    color: $white-color;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    color: $silver-color;
  }
}

.presentation__text_quotes {
  q {
    quotes: "\201c" "\201d";
    color: white;
  }
}