.think_responsive {
  h2 {
    margin-top: 48px;
  }
  .p_style_1 {
    margin-bottom: 35px;
  }
  .think_responsive_discription {
    @include displa_flex(row, center, center);
  }
  .discription {
    width: 288px;
    margin-left: 64px;
  }
  h3 {
    font-size: 21px;
    font-weight: bold;
    color: $dark-color-3;
  }
  .btn_download {
    @include displa_flex(row, center, center);
    width: 112px;
    height: 36px;
    background-color: $yellow-color;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
    color: $dark-color-4;
  }
}